<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <style>
    td {
        padding: 2px;
        color: rgb(146, 145, 145)
    }
  </style>

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-8" id="blog-post">

                        <div id="post-content">
                          {{ .Content }}
                        </div>

                    </div>

                    <div class="col-md-4">
                      <p><i class="fas fa-map-marker-alt"></i> {{ .Params.address }}</p>
                      <p><i class="fas fa-phone"></i> {{ .Params.phone }}</p>
                      <div id="checkout">
                        {{ .Summary }}
                      </div>
                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
