<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

            </section>

        </div>

    </div>
    <!-- /.row -->
</div>